*{
    padding: 0;
    margin: 0;
    font-family: 'Patrick Hand SC', cursive;
}

.imagen_fondo{
    background-image: url(../img/familia-ensamblada-e1538510634725-800x400.jpeg);
    background-size: cover;
    width: 100%;
}
.info{
    padding: 5px 5px;
    background-color: #A1CC95;
    p{
        margin: 5px;
    }
}
.equipo{
    h2{
        margin-bottom: 0px;
        font-style: italic;
        text-align: center;
        padding: 5px;
        /* margin: 5px; */
        background-image: url(../img/fondo2.jpeg)
    }
}
.conteiner2{
    display: flex;
    justify-content: space-around;
    width: 100%;

    .card{
        margin: 5px 5px;
        width: 20%;
        height: 310px;
        background-color: white;
        padding: .4em; //reviasr esto//
        border-radius: 6px;
        .card-image{
            background-image: url(../img/INDIVIDUAL.jpeg);
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 60%;
            border-radius: 6px 6px 0 0;
        }
        .card-image:hover{
            transform: scale(0.98);
        }
        .category{
            text-transform: uppercase;
            font-family: 13px;
            font-weight: 600;
            color: rgb(63, 121, 230);
            text-align: center;
        }
        .category:hover {
            cursor: pointer;
        }
        .heading{
            font-weight: 600;
            color: rgb(88, 87, 87);
            padding: 7px; 
            font-size: 11px;
        }
        .heading:hover {
            cursor: pointer;
        }
        .author{
            color: grey;
            font-weight: 400;
            font-size: 15px;
            padding-top: 20px;
            cursor: pointer;
            text-align: center;
        }
    }
}

/* desktop */
@media only screen and (min-width: 768px) and (max-width: 1500px) {
    .imagen_fondo{
        height: 30vh;
    }
    
}

/* mobile */
@media only screen and (max-width: 768px) {
    .imagen-fondo{
        height: 30vh;
    }
    .conteiner2 {
        display: flex; 
        flex-direction: column; 
        align-items: center;
        .card {
            display: flex; /* Aplica el modelo de caja flexible */
            flex-direction: column; 
            align-items: flex-start; /* Alinea los elementos a la izquierda */
            width: 90%;
            height: 350px; 
            margin-bottom: 10px;
        }
        .heading{
            .author{
                font-size: 15px;
                text-align: center;
            }
        }
    }
}
